@import "uikit.min";
@import "mediaplayer.min";


@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Righteous');

// Headline



.trailer {
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  background: #990D0D;
}

.uk-width-1-1 {
  background: #990D0D;
  
  margin: 5px;
  width: 50%;
}


// .char1 {
//   letter-spacing: 4px;
// }

// Body Font
// score: 0, 0, 0, 2
body h1, article p {
  font-family: 'Quattrocento Sans', sans-serif;
  color: snow;
  background: #990D0D;
  padding: 5px;
}

a, a:visited {
  color: black;
}

img {
  width:15%;
}

ul {
  background: #990D0D;
}

li {
  list-style-type: none;
  color: snow;
}